/*
    -----------------------------------------------------
    Archivo: style.css
    Descripción: Hoja de estilos principal para la Biblioteca Virtual UNETI.
    Contiene estilos generales, tipografía, layout y componentes UI.
    -----------------------------------------------------
*/

 @font-face {
            font-family: 'OriginTech';
            src: url('../fonts/OriginTech.ttf') format('truetype');
            font-weight: normal;
            font-style: normal;
        }

/*
    Estilos para el cuerpo del documento (body):
    Configura una imagen de fondo que cubre toda la pantalla y es fija.
    También se añaden estilos para asegurar que el cuerpo ocupe al menos
    toda la altura del viewport y se eliminan márgenes/paddings predeterminados.
*/

        body {
            background-image: url('../images/bkg_book.png');
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
        }

/*
    Clase para la tipografía personalizada:
    Aplica la fuente 'OriginTech' y otros estilos de texto comunes.
    Columna lado Izquierdo . 
*/
        .biblio-font{
            font-family: 'OriginTech', Arial, sans-serif;  /* Titulo Principal*/
            color: #090933;                              /* Color Titulo Principal*/
            font-size: 2rem;
            letter-spacing: 2px;
        }

/*
    Clase para banners y elementos con fondo degradado:
    Define un degradado de fondo, padding, bordes redondeados y una sombra sutil.
    Esta clase se usa en el encabezado principal y en los botones de navegación.
    Columna lado Derecho . 
*/

        .biblio-banner {
            background: linear-gradient(90deg,#adebb3 0%, #5de0e6 100%);            
            padding: 1.5rem 0;
            border-radius: 0.8rem;
            box-shadow: 0 2px 8px rgba(0,0,0,0.05);
        }

/*
    Clase para botones:
    Define un color solido de fondo, padding, bordes redondeados y una sombra sutil.
    Esta clase se usa en los botones de navegación.
    Columna lado Derecha.
*/ 
        .boton-navegacion {
            background: linear-gradient(90deg,#adebb3 0%, #5de0e6 100%);            
            padding: 1.5rem 0;
            border-radius: 2rem;
            box-shadow: 0 2px 8px rgba(0,0,0,0.05);
        }



        .boton-logout {
            border-radius: 2rem;
        }