<div class="w3-container w3-padding-16 admin-dashboard-section">
    <h2 class="w3-text-dark-grey w3-margin-bottom">¡Bienvenido/a a la Biblioteca Virtual, <span id="dashboardAdminName">Usuario</span>!</h2>
    
    <div class="w3-row-padding w3-margin-top d-flex align-items-stretch">
        <div class="w3-col l4 m6 s12 w3-margin-bottom">
            <div class="w3-card w3-round-large w3-hover-shadow w3-padding-large w3-center admin-info-card d-flex flex-column justify-content-center">
                <i class="fa fa-book w3-medium w3-text-theme"></i>
                <h5 class="w3-text-dark-grey">Total de Libros</h5>
                <p class="w3-large w3-text-blue"><strong>500+</strong></p>
            </div>
        </div>

        <div class="w3-col l4 m6 s12 w3-margin-bottom">
            <div class="w3-card w3-round-large w3-hover-shadow w3-padding-large w3-center admin-info-card d-flex flex-column justify-content-center">
                <i class="fa fa-users w3-medium w3-text-theme"></i>
                <h5 class="w3-text-dark-grey">Registro Usuarios</h5>
                <p class="w3-large w3-text-blue"><strong>1200+</strong></p>
            </div>
        </div>

        <div class="w3-col l4 m6 s12 w3-margin-bottom">
            <div class="w3-card w3-round-large w3-hover-shadow w3-padding-large w3-center admin-info-card d-flex flex-column justify-content-center">
                <i class="fa fa-download w3-medium w3-text-theme"></i>
                <h5 class="w3-text-dark-grey">Descargas Totales</h5>
                <p class="w3-large w3-text-blue"><strong>8000+</strong></p>
            </div>
        </div>
    </div>

</div>